@inherits LayoutComponentBase

<div class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
    <div class="col justify-content-md-center">
    Top menu row    <NavMenu />

    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col justify-content-md-center">

    </div>
    <div class="col-7">
        <Stars />
    </div>
    <div class="col justify-content-md-center">
    3 of 3
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col"> <NavContent /> </div>
</div>
<div class="row justify-content-md-center">
    <div class="col"> @Body </div>
</div>
<div class="row align-items-end">
    <div class="col">
    Footer menu row
        <CookieInfoPage />
    </div>
</div>